:root {
    --background: #000;
    --foreground: #fff;
    --padding-inline: 2rem;
    --layer: 255 255 255;
    --layer-1: rgb(var(--layer)/ .05);
    --layer-2: rgb(var(--layer)/ .07);
    --green: #00d68a;
    --green-alt: #61d723;
    --blue: #089cf2;
    --yellow: #f3f318;
    --gradient: radial-gradient(circle at top left, var(--green) 35%, var(--blue) 50%, var(--yellow) 60%, var(--green-alt) 80%);
}

html {
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--foreground);
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    transition: font-size 0.2s ease-in-out;
    text-align: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding-inline: var(--padding-inline);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 600px) {
        font-size: 5rem;
    }
}

h2 {
    margin-bottom: 1rem;
}


a {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--foreground);
    text-decoration: none;

    :visited {
        color: var(--foreground);
    }
}

[data-teams] > ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

li {
    width: 100%;
}

header {
    position: relative;
    padding-block-start: 3rem;
    padding-block-end: 10rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    margin: 0;
    height: 500px;
    gap: 2rem;
}


main {
    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [main-start] minmax(0, 1200px) [main-end] minmax(var(--padding-inline), 1fr) [full-width-end];

    & > * {
        grid-column: main;
    }
}

article section {
    display: grid;
    background: #2c2c2c;
    padding: 1rem;
}

article ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}


footer {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
    color: darkgray;
}

article {
    width: 100%;
    transition-property: box-shadow, transform, border-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background: var(--layer-1);
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0 0 0 / .6);
    position: relative;
    border: 1px solid;
    transition: transform 0.2s ease;
    background: #1a1a1a;

    &:hover {
        transform: translateY(-2px);
    }

    > a::after {
        position: absolute;
        content: "";
        inset: 0;
    }

    &:nth-child(3n+3) {
        border-color: rgb(from var(--yellow) r g b / .2);

        &:hover, &:focus-within {
            border-color: rgb(from var(--yellow) r g b / .5);
        }

        &:focus-within {
            outline: 2px solid var(--yellow);
        }
    }

    &:nth-child(3n+2) {
        border-color: rgb(from var(--blue) r g b / .2);

        &:hover, &:focus-within {
            border-color: rgb(from var(--blue) r g b / .5);
        }

        &:focus-within {
            outline: 2px solid var(--blue);
        }
    }

    &:nth-child(3n+1) {
        border-color: rgb(from var(--green) r g b / .2);

        &:hover, &:focus-within {
            border-color: rgb(from var(--green) r g b / .5);
        }

        &:focus-within {
            outline: 2px solid var(--green);
        }
    }

    &:hover, &:focus-within {
        transform: translateY(-2px);
        box-shadow: 0 0 15px rgb(0 0 0 / .4);
    }
}